apiVersion: v1
kind: Service
metadata:
  name: {{ template "[[service]].fullname" . }}
  labels:
    app: {{ template "[[service]].name" . }}
    chart: {{ template "[[service]].chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ template "[[service]].name" . }}
    release: {{ .Release.Name }}
